# Flask
SECRET_KEY=any-long-random-string-you-make-up
DEBUG=True

# Access Codes
ISV_ACCESS_CODE=ORBIT-ISV-2025
ADMIN_ACCESS_CODE=ORBIT-ADMIN-2025

# NVIDIA NIM
NVIDIA_API_KEY=your-nvidia-nim-api-key

# GCP
GCP_SERVICE_ACCOUNT_KEY=service-account.json
GCP_PROJECT_ID=your-gcp-project-id

# SendGrid
SENDGRID_API_KEY=your-sendgrid-api-key
ADMIN_EMAIL=your-email@gmail.com
SENDGRID_FROM_EMAIL=orbit@nvidia-devrel.com

# ipinfo
IPINFO_TOKEN=your-ipinfo-token